@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=MedievalSharp&display=swap');

.verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/fondo_1.png') no-repeat center center fixed;
  font-family: 'MedievalSharp', cursive;
}

.loading-screen {
  color: #9b7e20;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.verification-box {
  background: linear-gradient(#9b7e20, #774b1f);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
  border: 3px solid #c4a484;
}

.verification-box h2 {
  color: white;
  font-size: 26px;
  margin-bottom: 10px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.verification-box p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

input {
  margin: 10px 0;
  padding: 14px;
  border: 2px solid #c4a484;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  font-size: 18px;
  text-align: center;
}

input::placeholder {
  color: #ffffffaa;
  font-family: 'Cinzel', serif;
}

button {
  background: #593d1b;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  transition: all 0.3s;
}

button:hover {
  background: #ffd700;
  color: #593d1b;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.8);
}
